{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="{% static 'assignments/css/style.css' %}">
</head>
<body>  
    <header>
        <nav>
            <div class="logo">Githumu High School Assignment Portal</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>August Holiday Assignments</h1>
        <ul class="assignment-list">
        {% for assignment in assignment_list %}
            <li>
                <span class="assignment-title">FORM {{ assignment.grade }} {{ assignment.subject }}</span>
                <a href={{assignment.file.url }} class="download-button" download>Download {{ assignment.subject }}</a>
                
            </li>
        {% endfor %}
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Githumu High School. All rights reserved.</p>
    </footer>
</body>
</html>